* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

html {
  font-size: 16px;
}

.grid-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
}

header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #1f2937;
  border-bottom: 5px solid #e2e3e5;
  color: #fff;
  font-size: 1.2rem;
}

main {
  background-color: #f3f4f6;
  position: relative;
}

.dashed-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  border: 10px dashed #e5e7eb;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.books {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, 250px);
  padding: 20px;
}

.books > div {
  height: 350px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  z-index: 1;
}

.book {
  display: grid;
  justify-items: center;
  gap: 10px;
  padding: 20px;
}

.book button {
  justify-self: stretch;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.btn-read,
.btn-remove {
  background-color: red;
}

.btn-remove:hover {
  background-color: rgb(202, 37, 37);
}

.btn-plus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-plus .mdi {
  color: #292524;
  font-size: 70px;
  transition: 0.2s;
}

.btn-plus:hover .mdi {
  color: green;
}

.modal {
  display: none;
  position: fixed;
  width: 40%;
  min-height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5%;
  background-color: #1f2937;
  opacity: 0.8;
  z-index: 999;
  transition: 1s;
}

.modal h1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 50px;
}

.modal form {
  color: #fff;
  font-size: 2rem;
}

form label,
form input {
  display: block;
  width: 100%;
}

label[for='bookRead'] {
  margin-top: 20px;
  text-align: center;
}

form input {
  height: 40px;
  font-size: 1.5rem;
  padding: 5px 10px;
}

form input[type='submit'] {
  height: 50px;
  margin-top: 50px;
  border: none;
  text-transform: uppercase;
  font-size: 1.5rem;
}

form .mdi {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 40px;
}

form .mdi:hover {
  color: red;
}

.green {
  background-color: green;
}
